.boostContainer{
    background-color: var(--dark-violet);
    background-image: url("../../assets/bg-boost-desktop.svg");
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boostTitle{
    font-family: var(--primary-font);
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: 32px;
}

.boostButton{
    font-family: var(--primary-font);
    color: white;
    font-weight: var(--font-weight-bold);
    background-color: var(--cyan);
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px; 
}

@media screen and (max-width:700px){
    .boostContainer{
        background-image: url("../../assets/bg-boost-mobile.svg");
        height: 300px;
    }

    .boostTitle{
        font-size: 26px;
    }

    .boostButton{
        font-size: 14px;
    }
}